<!--document head-->
<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>
    <body class="container w-80" >

        <!--navbar-->
        <%- include('navbar', {user: false}); %>
        <h1 class="m-3 mt-5">Planets popularity:</h1>

        <!--handle errors-->
        <% if (planets === "error") { %>
                <div class="alert alert-info" role="alert">
                    Sorry, cannot load data.
                </div>

        <% } else if (planets.length === 0) { %>
                <div class="alert alert-info" role="alert">
                    Anybody hasn't voted yet.
                </div>

         <!--generate table-->
        <% } else { %>

            <div class="d-flex justify-content-center">
                 <table class="table table-hover mb-5 mt-5 w-50 text-center">
                     <thead>
                     <tr>
                         <th scope="col"></th>
                         <th scope="col">Planet</th>
                         <th scope="col">Votes</th>
                     </tr>
                     </thead>
                     <tbody>
                     <% for  (let i=0; i<planets.length; i++) { %>
                     <tr>
                         <td><%= i+1 %></td>
                         <td><%= planets[i].planet%></td>
                         <td><%= planets[i].votes%></td>
                     </tr>
                     <% } %>
                     </tbody>
                 </table>
             </div>
        <% } %>

        <%- include('scripts'); %>

    </body>
</html>